<style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

    :root {
      /* WARNA UTAMA */
      --Coding: {{warna_utama}};
      --Qu: #ecf0f3;
    }

    body {
      font-family: 'Plus Jakarta Sans', sans-serif;
      background: var(--Qu);
      animation: fade-in 2s linear;
    }

    form {
      position: relative;
      z-index: 99;
    }

    .pil-produk {
      display: flex;
      align-items: center;
      width: 100%;
      background: var(--Qu);
      border-radius: 15px;
      padding: 10px;
      box-shadow: inset -3px -3px 7px #EBEBEB,
        inset 3px 3px 5px #ceced1;
      position: relative;
      padding-bottom: 50px;
      border: 5px solid #FFFFFF;
    }

    .pil-produk img {
      width: 35px;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 2px 10px 2px 10px;
      background: var(--Qu);
      padding: 5px;
      box-shadow: inset -3px -3px 7px #F9F9F9,
        inset 3px 3px 5px #ceced1;
      border: 1px solid #F8F8F8;
    }

    .pil-produk h4 {
      font-size: 12px;
      font-weight: 700;
      color: black;
      margin: 4px;
    }

    .pil-produk p {
      font-size: 10px;
      font-weight: 500;
      color: black;
      margin-bottom: 5px;
      position: absolute;
      left: 0;
      bottom: 5px;
      padding-left: 3px;
      padding-right: 5px;
      border-radius: 3px 15px 15px 3px;
      background: var(--Coding);
      color: white;
      margin-left: 10px;
    }

    .hidden {
      display: none;
    }

    .harga-asli {
      position: absolute;
      bottom: 22px;
      left: 0px;
      border-radius: 3px 15px 15px 3px;
      color: white !important;
      font-size: 8px !important;
      font-weight: bold;
      text-decoration: line-through;
      background: red;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-left: 10px !important;
    }

    .mood2 {
      display: grid;
      grid-template-columns: repeat(2, 1.5fr);
      grid-gap: 10px;
      align-items: center;
    }

    .mood1 {
      display: grid;
      grid-template-columns: repeat(1, 1.5fr);
      grid-gap: 10px;
      align-items: center;
    }

    .mood1 .pil-produk {
      border-radius: 20px;
    }

    .mood1 .nama--produks {
      font-size: 15px;
      margin-bottom: -7px;
    }

    .mood1 img {
      width: 55px;
      border-radius: 10px 10px 10px 20px;
      padding: 5px;
      border: 1px solid #FFFFFF;
    }

    .mood1 .pil-produk p h4 {
      font-size: 15px;
      margin-left: 18px;
    }

    .toast-header {
      background: red;
    }

    .toast {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 9999;
      width: auto;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
      border-radius: 10px;
      display: none;
    }

    .pilihan {
      background: var(--Coding);
      border-radius: 10px;
      padding: 15px;
      margin-top: 5px;
      border: 3px solid var(--Qu);
    }

    #id {
      background: var(--Qu);
      outline: none;
      font-size: 15px;
      font-weight: 700;
      padding: 6px;
      border-radius: 10px;
      box-shadow: none;
      height: auto;
      color: black;
      margin-bottom: 8px;
      box-shadow: inset -3px -3px 7px #F9F9F9,
        inset 3px 3px 5px #ceced1;
      border: 5px solid #FFFFFF;
    }

    .logo img {
      width: 25px;
      background: #ecf0f3;
      border-radius: 50px;
      margin-right: 5px;
      box-shadow: -3px -3px 7px #7642AB,
        3px 3px 5px #4A1B7A;
    }

    label {
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 700;
      margin: 0px;
    }

    .tab-pane {
      display: none;
    }

    .tab-pane.active {
      display: block;
    }

    .tab2 {
      overflow: hidden;
      background-color: transparent;
    }

    .product-icon {
      display: none !important;
    }

    .headers {
      background: var(--Qu);
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .toast {
      display: none;
    }

    ul {
      padding: 0px !important;
    }


    .box {
      display: flex;
      text-align: center;
    }

    .box a {
      width: 100%;
      color: var(--Qu);
      font-size: 13px;
      font-weight: 500;
      background: var(--Coding);
      border-radius: 35px;
      padding-top: 5px;
      padding-bottom: 0px;
      margin-right: 25px;
      text-decoration: none;
      box-shadow: -3px -3px 7px #7642AB,
        3px 3px 5px #4A1B7A;
    }

    .box i {
      font-size: 13px;
      color: var !(--Qu);
      margin-right: 5px;
    }

    .icon i {
      color: #FFFFFF;
      font-size: 25px;
    }

    .icon button {
      width: 100%;
      background: transparent;
      border: none;
      padding-top: 1px;
      margin-top: 3px;
    }

    #toggleMoodButton,
    #toggleMoodButton:hover {
      width: 100%;
      border: none;
      box-shadow: none;
      outline: none;
      padding: 0px;
      padding-left: 6px;
      padding-right: 0px;
      padding-top: 3px;
      padding-bottom: 0px;
      background: var(--Coding);
      box-shadow: -3px -3px 7px #7642AB,
        3px 3px 5px #4A1B7A;
      border-radius: 10px;
    }

    .pack--ceknick {
      display: flex;
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      background: var(--Qu);
      box-shadow: inset -3px -3px 7px #FFFFFF,
        inset 3px 3px 5px #ceced1;
    }

    .pack--ceknick button {
      width: 30%;
      background: var(--Coding);
      color: white;
      border: none !important;
      font-size: 15px;
      border-radius: 30px;
      padding: 5px;
      padding-right: 10px;
      padding-left: 10px;
      outline: none;
      border: 4px solid var(--Qu) !important;
      box-shadow: -3px -3px 7px #FFFFFF,
        3px 3px 5px #ceced1;
    }

    .name {
      width: 100%;
      text-align: center;
    }

    #nick {
      justify-content: center;
      font-size: 14px;
      margin: 0px;
      margin-top: 7px;
      color: orangered;
    }

    #loadingSpinner {
      display: none;
      text-align: center;
      padding: 20px;
    }

    .loader {
      border: 4px solid var(--Coding);
      border-top: 4px solid #FFFFFF;
      border-radius: 35%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .cq-1 {
      width: 40px;
      height: 40px;
      background: var(--Qu);
      right: 0;
      top: 0;
      position: absolute;
      border-radius: 0px 15px 0px 30px;
      box-shadow: inset -3px -3px 7px #F9F9F9,
        inset 3px 3px 5px #ceced1;
      border: 2px solid #ecf0f3;
    }

    .info-box {
      margin-top: -30px;
    }

    .text-box {
      text-align: center;
      background: #ecf0f3;
      padding-top: 2px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 8px;
      box-shadow: -3px -3px 7px #FFFFFF,
        3px 3px 5px #ceced1;

    }

    .text-box p {
      /* text info */
      color: orangered;
      font-size: 10px;
      font-weight: 500;
      padding: 3px 8px;
      margin-top: -19px;
      margin-bottom: -18px;
      border-radius: 5px;
      box-shadow: inset -3px -3px 7px #FFFFFF,
        inset 3px 3px 5px #ceced1;
    }
  </style>
